<button data-toggle="modal" [attr.data-target]="'#'+modalId" style="visibility: hidden;" #showModalBtn>
</button>

<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog {{modalClass}}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">{{modalTitle}}</h5>
                <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body">
                <ng-content></ng-content>
            </div>
            <div class="modal-footer">
                <button mat-raised-button type="button" #closeModalBtn class="btn btn-primary btn-round" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>