<form #myFormVar="ngForm">

    <app-form-notification></app-form-notification>
    <div class="row">
        <div class="col-md-3">
            <div class="wizard-picture-container">
                <div class="wizard-picture">
                    <img [src]="multipartFilePreviewSrc" class="wizard-picture-src" id="multipartFilePreview" title="" />
                    <input type="file" id="multipartFile" (change)="selectFile($event)" />
                </div>
                <h6 class="description">Seleccionar foto</h6>
            </div>

        </div>

        <div class="col-md-9">

            <div class="row">
                <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                        <input type="text" matInput placeholder="Usuario" [(ngModel)]="entity.username" name="username"
                            required maxlength="18" #focusInput  (blur)="onBlurUsername()"/>
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                        <input type="text" matInput placeholder="Nombres" [(ngModel)]="entity.name" name="nombres"
                            required maxlength="100">
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                        <input type="text" matInput placeholder="Apellidos" [(ngModel)]="entity.surname" name="apellidos"
                            required maxlength="100">
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <input type="text" matInput placeholder="Email" [(ngModel)]="entity.email" name="email"
                            required maxlength="100">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Rol" [(ngModel)]="entity.role" name="role" [compareWith]="compareEntityFn">
                            <mat-option *ngFor="let role of roleList" [value]="role">
                                {{ role.code + ' - ' + role.description }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <app-abm-buttons></app-abm-buttons>
        <button class="btn btn-primary" *ngIf="entity.id && entity.username!='owl'" data-toggle="modal" data-target="#cambiarPassModal">
            <i class="material-icons">lock_outline</i>Cambiar contraseña</button>
    </div>
</form>

<app-modal #cambiarPassModal modalTitle='Cambio de Contraseña' modalId='cambiarPassModal'>
    <b>Usuario:</b>{{entity.name + ' ' + entity.surname+ ' (' + entity.username+')'}}
    <br />
    <form #changePassForm="ngForm">

        <div class="row">
            <div class="col-md-5">
                <mat-form-field class="example-full-width">
                    <input type="password" matInput placeholder="Contraseña" [(ngModel)]="newPass" name="pass"
                        minlength="6" required maxlength="100" #uname="ngModel">
                </mat-form-field>
                <ul>
                    <li class="text-danger" *ngIf="uname.errors">
                        Ingrese al menos 6 caracteres
                    </li>
                    <li class="text-danger" *ngIf="confirmPass != newPass">
                        Las contraseñas no coinciden
                    </li>
                </ul>

            </div>

            <div class="col-md-5">
                <mat-form-field class="example-full-width">
                    <input type="password" matInput placeholder="Confirmar Contraseña" [(ngModel)]="confirmPass" name="confirm"
                        required maxlength="100">
                </mat-form-field>
            </div>


            <div class="col-md-2">
                <button class="btn btn-primary" (click)="cambiarPass()" [disabled]="confirmPass != newPass || changePassForm.form.invalid">
                    <i class="material-icons">lock_outline</i>Cambiar</button>
            </div>
        </div>
    </form>
</app-modal>