<div class="card abm">
    <div class="card-body">
        <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#usuarios" role="tablist" (click)="setSelectedTab(1)"
                    [ngClass]="{'active': isTabSelected(1) }">
                    Usuarios
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#detalles" role="tablist" (click)="setSelectedTab(2)"
                    [ngClass]="{'active': isTabSelected(2) }">
                    Detalles
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#horarios" role="tablist" (click)="setSelectedTab(3)"
                    [ngClass]="{'active': isTabSelected(3) }">
                    Historial de Accesos
                </a>
            </li>

        </ul>
        <div class="tab-content tab-space">
            <div class="tab-pane" id="usuarios" [ngClass]="{'active': isTabSelected(1) }">
                <app-usuario-list></app-usuario-list>
            </div>

            <div class="tab-pane" id="detalles" [ngClass]="{'active': isTabSelected(2) }">
                <app-usuario-form></app-usuario-form>
            </div>

            <div class="tab-pane" id="horarios" [ngClass]="{'active': isTabSelected(3) }">
                 <app-logininfo-list></app-logininfo-list>
            </div>
        </div>
    </div>
</div>