<div class="card card-bordered">
    <div class="card-body">
        <div class="row">

            <div class="col-md-2">
                <button class="btn btn-round btn-primary ml-0" data-toggle="modal" data-target="#usuarioListModal">
                    <i class="material-icons">search</i> Usuario
                </button>
            </div>

            <div class="col-md-2">
                <mat-form-field class="example-full-width">
                    <input type="text" matInput placeholder="Cédula" required maxlength="100" [value]="entity.username" disabled="disabled"
                    />
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width">
                    <input type="text" matInput placeholder="Nombres" required maxlength="100" [value]="entity.name" disabled="disabled"
                    />
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width">
                    <input type="text" matInput placeholder="Apellidos" required maxlength="100" [value]="entity.surname" disabled="disabled"
                    />
                </mat-form-field>
            </div>
            <app-modal #usuarioListModal modalTitle='Usuarios' modalId='usuarioListModal'>
                <app-usuario-list> </app-usuario-list>
            </app-modal>
        </div>
    </div>
</div>