<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" style="background-image: url('./assets/img/background.png'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form class="form" name="form" #f="ngForm" novalidate>
            <div class="card card-login card-hidden">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Acceso al Sistema</h4>
              </div>
              <div class="card-body ">
                <div class="text-center">
                  <img src="./assets/img/logo.png" style="max-width:100px" />
                </div>

                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">person</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Usuario..." [(ngModel)]="user.username" name="username"
                      required>
                  </div>
                </span>

                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Contraseña..." [(ngModel)]="user.password"
                      name="password" required>
                  </div>
                </span>
              </div>
              <p class="text-danger text-center">{{errorMsg}}</p>
              <div class="card-footer justify-content-center">
                <button class="btn btn-primary" (click)="doLogin()" *ngIf="!HTTPActivity && !userLogged" [disabled]="f.form.invalid">
                  Ingresar</button>
                <div class="loader" *ngIf="HTTPActivity">
                  <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                  </svg>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="https://owl.com.py"  target="_blank">
                OWL S.A.
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright pull-right">
          &copy; {{test | date: 'yyyy'}}, desarrollado por
          <a href="https://www.owl.com.py" target="_blank">OWL S.A.</a>
        </div>
      </div>
    </footer>
  </div>
</div>