<nav #navbar class="navbar navbar-expand-lg navbar-transparent  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-minimize">
        <button mat-raised-button (click)="minimizeSidebar()" class="btn btn-just-icon btn-white btn-fab btn-round">
          <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
          <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
        </button>
      </div>
      <a class="navbar-brand" href="{{getPath()}}"> {{getTitle()}}</a>
    </div>
    <button mat-button class="navbar-toggler btn-no-ripple" type="button" (click)="sidebarToggle()">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">

      <ul class="navbar-nav"> 
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" title="Dashboard">
            <i class="material-icons">dashboard</i>
          </a>
        </li>
       
        <li class="nav-item dropdown">

          <a class="nav-link" id="user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer">
            <i class="material-icons">person</i>
          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">


        <li class="text-center">

          <div class="photo">

            <div class="wizard-picture-container" style="cursor: default;">
              <div class="wizard-picture" style="cursor: default;">
                <img [src]="profilePicSrc" class="wizard-picture-src" title="" style="cursor: default;" />
              </div>
            </div>

          </div>
          <p *ngIf="sessionInfo.usuario">{{sessionInfo.usuario.nombres}}</p>
        </li>


        <span class="navbar-form"></span>
        <li class="user-footer" style="min-width: 400px">
          <div class="pull-left">
            <button class="btn btn-primary btn-flat" routerLink="/mi-perfil">Mi Perfil</button>
          </div>
          <div class="pull-right">
            <button class="btn btn-primary btn-flat" (click)='logout()'>Cerrar Sesión</button>
          </div>

        </li>
    </div>
    </li>
    </ul>
  </div>
  </div>
</nav>