<div class="alert alert-warning" *ngIf="warningMsg">
  <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i class="material-icons">close</i>
  </button>
   <span> <i class="material-icons md-light">warning</i>
      {{warningMsg}}</span>
</div>

<div class="alert alert-danger" *ngIf="errorMsg">
  <button mat-button type="button" class="close"  (click)="hideErrorAlert()"  aria-label="Close">
    <i class="material-icons" style="color:white;">close</i>
  </button>
  <span>
      <i class="material-icons md-light" style="color:white;">error</i> {{errorMsg}}</span>
      <ul *ngIf="fieldErrors" style="margin-top:5px">
           <li *ngFor="let e of fieldErrors" style="margin-top:2px">{{e.defaultMessage}}</li>
      </ul>
</div>
<div class="alert alert-primary" *ngIf="infoMsg">
  <button mat-button type="button" class="close" (click)="hideInfoAlert()" aria-label="Close">
    <i class="material-icons" style="color:white;">close</i>
  </button>
  <i class="material-icons" style="color:white;">info</i>{{infoMsg}}
</div>

<div class="alert alert-primary" *ngIf="successMsg">
  <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i class="material-icons" style="color:white;">close</i>
  </button>
  <i class="material-icons md-light">success</i> <span>{{successMsg}}</span>
</div>