<div class="logo">
  <a class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png" />
    </div>
  </a>
  <a href="javascript:void(0)" target="_blank" class="simple-text logo-normal">
    e-salud
  </a>
</div>


<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">


    <ul class="nav navbar-nav nav-mobile-menu">

    </ul>
  </div>
  <ul class="nav">

    <li routerLinkActive="active" *ngFor="let menuitem of menuItems" class="nav-item">
      <!--If is a single link-->
      <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link' && menuitem.visible" class="nav-link">
        <i class="material-icons">{{menuitem.icontype}}</i>
        <p>{{menuitem.title}}</p>
      </a>
      <!--If it have a submenu-->
      <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub' && menuitem.visible"
        (click)="updatePS()" class="nav-link">
        <i class="material-icons">{{menuitem.icontype}}</i>
        <p>{{menuitem.title}}<b class="caret"></b></p>
      </a>

      <!--Display the submenu items-->
      <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'">
        <ul class="nav">
          <li routerLinkActive="active" *ngFor="let childitem of menuitem.children" class="nav-item">
            <a [routerLink]="[menuitem.path, childitem.path]" class="nav-link" *ngIf="childitem.visible">
              <span class="sidebar-mini"><i class="material-icons">arrow_forward</i></span>
              <span class="sidebar-normal">{{childitem.title}}</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" style="cursor:pointer">
      <a class="nav-link" (click)="logout()">
        <i class="material-icons">logout</i>
        <p>Cerrar sesión</p>
      </a>
    </li>

  </ul>
  <div class="loader" *ngIf="HTTPActivity">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10" />
    </svg>
  </div>
</div>