<div class="loader" *ngIf="HTTPActivity">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10" />
    </svg>
</div>

<button mat-raised-button class="btn btn-info" *ngIf="newBtnEnabled" (click)="onNewButtonClicked()"><i class="material-icons">add</i>Nuevo</button>
<button mat-raised-button class="btn btn-primary" *ngIf="saveBtnEnabled" [disabled]="(myFormVar && myFormVar.form.invalid)"
    (click)="onSaveButtonClicked()"> <i class="material-icons">save</i>Guardar</button>
<button mat-raised-button class="btn btn-danger" *ngIf="deleteBtnEnabled" (click)="onDeleteButtonClicked()"><i class="material-icons">delete</i>Borrar</button>