<div class="wrapper">
    <div class="sidebar" data-color="white" data-background-color="red" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar-cmp></app-sidebar-cmp>
        <!--div class="sidebar-background" style="background-image: url(assets/img/sidebar-1.jpg)"></div-->
    </div>
    <div class="main-panel">
        <app-navbar-cmp></app-navbar-cmp>
        <ngx-spinner></ngx-spinner>
        <div class="main-content">
            <div class="container-fluid">
                <div class="loader" *ngIf="loadingRouteConfig">
                    <svg class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                    </svg>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
        <div *ngIf="!isMap()">
            <app-footer-cmp></app-footer-cmp>
        </div>
    </div>
    <app-fixedplugin></app-fixedplugin>
</div>