<form #myFormVar="ngForm">
    <app-form-notification></app-form-notification>
    <div class="row">
        <div class="col-md-2">
            <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Código" [(ngModel)]="entity.code" name="code" required
                    maxlength="16" #focusInput />
            </mat-form-field>
        </div>
        <div class="col-md-5">
            <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Descripción" [(ngModel)]="entity.description" name="description"
                    required maxlength="100">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <app-abm-buttons></app-abm-buttons>
    </div>
</form>

<div class="row" [hidden]="!entity.id">
    <div class="col-md-12">
        <app-rol-permiso-list></app-rol-permiso-list>
    </div>
</div>