<div class="card abm">
    <div class="card-body">
        <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#usuarios" role="tablist" (click)="setSelectedTab(1)"
                    [ngClass]="{'active': isTabSelected(1) }">
                    Roles
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#detalles" role="tablist" (click)="setSelectedTab(2)"
                    [ngClass]="{'active': isTabSelected(2) }">
                    Detalles
                </a>
            </li>
        </ul>
        <div class="tab-content tab-space">
            <div class="tab-pane" id="usuarios" [ngClass]="{'active': isTabSelected(1) }">
                <app-rol-list></app-rol-list>
            </div>

            <div class="tab-pane" id="detalles" [ngClass]="{'active': isTabSelected(2) }">
                <app-rol-form></app-rol-form>
            </div>
        </div>
    </div>
</div>