<div class="togglebutton">
    <label>
        <input type="checkbox" [(ngModel)]="value"  (ngModelChange)="onChangeValue($event)"
               name="field">
        <span class="toggle"></span>
          {{caption}}
    </label>
</div>