/*Para usar mat-select en MatDialog, el problema es que se ve mal para seleccionar empresa en navbar*/
/*@import '~@angular/cdk/overlay-prebuilt.css';*/
/* You can add global styles to this file, and also import other style files */

.cdk-overlay-container, .cdk-overlay-pane {
    z-index: 9999 !important;
}

.cdk-overlay-backdrop {
     position: absolute; top: 0; bottom: 0; left: 0; right: 0; 
     z-index: 1031; pointer-events: auto;
     -webkit-tap-highlight-color: transparent; 
     transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1); opacity: 0; 
}


.cdk-overlay-connected-position-bounding-box {
    z-index: 99999 !important;
}

/************/      

.profile-pic,
.profile-pic-small {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.profile-pic-small {
    width: 60px;
    height: 60px;
    max-width: 60px;
    max-height: 60px;
}

.user-footer button {
    margin: 5px;
}

table.dataTable tbody td,
table.dataTable tbody th {
    padding: 1px 1px
}

.table > thead > tr > th {
    font-weight: bold;
    font-size: 14px;
    color: #555;
    text-align: center;
}


.table > thead > tr {
    background-color: #EEE;
}

table.hover:hover {
    cursor: pointer;
}

.btn:disabled:hover {
    cursor: not-allowed;
}

.card  .abm{
    padding: 0px 10px;
    position: relative;
    margin: 0px
}
.card .card-body .abm{
    padding: 0px 10px;
    position: relative;
    margin: 0px
}
.main-panel .main-content {
    margin-top: 40px;
    padding: 5px 5px;
    min-height: calc(100vh - 123px);
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}


.mat-option.mat-selected:hover {
    background-color: #3d80df !important;
    color: #fff !important;
}

.mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: #3d80df !important;
    color: #fff !important;
}

.mat-option:hover {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(9, 109, 190, 0.4);
    background: #0ab1fc !important;
    color: #fff !important;
}

.alert {
    border: 0;
    border-radius: 3px;
    position: relative;
    padding: 10px 10px;
    line-height: 18px;
}

td.td-right {
  text-align: right;
}

th.dt-right {
    text-align: center;
}

table.dataTable th.dt-right {
    text-align: center;
}


.wizard-picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
}


.wizard-picture, .wizard-picture-small, .wizard-picture-medium, .wizard-picture-70{
    width: 150px;
    height: 150px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.wizard-picture-small{
    width: 50px;
    height: 50px;
}

.wizard-picture-medium{
    width: 100px;
    height: 100px;
}

.wizard-picture-70{
    width: 70px;
    height: 70px;
}

.wizard-picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.wizard-picture-src{
    width: 100%;
}

.col-with-pic {
    border:0px;
    margin:2px;
    max-width:50px; 
    width:50px;
}

.col-with-pic-70 {
    border:0px;
    margin:2px;
    max-width:70px; 
    width:70px;
}

.card-bordered {
    border: 1px solid #DDD;
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn {
    padding: 12px 12px
}

.sidebar .nav li a, .sidebar .nav li .dropdown-menu a  {
    margin-top: 5px;
    padding-top:  2px;
    margin-bottom: 0px;
    padding-bottom:  0px;
}
.sidebar .nav li .dropdown-menu a {
    margin-top: 2px;
}

.sidebar .nav p {
    font-weight: 500;
}


span.sidebar-normal {
    font-weight: 500;
}

 .table-smallrows > tbody > tr > td, .table-smallrows > thead > tr > th{
    padding: 2px 2px 2px 2px;   
    margin: 2px 2px 2px 2px;
}

.table-smallrows > thead > tr > th{
    font-size: 14px;
}

.table-smallrows > tfoot > tr > td, tfoot.smallrows {
   padding:  2px;   
    margin: 2px;
}

.datetime-row{
    display: table;
    font-weight: bold;
}
.datetime-item{
    display: table-cell;
    font-weight: bold;
}

.datetime-item > select  {
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
}

.label-floating {
    top: -38px;
    left: 0;
    font-size: 11px;
    line-height: 1.07143;
}

tr.danger, td.danger, tr.danger td {
    background-color: #f2dede;
}


tr.warning, td.warning, div.warning, tr.warning td {
    background-color: #fcf8e3;
}

table.smallrows >tbody>tr>td {
    padding: 2px 5px;
}


ul.display-inline-block li {
	display: inline-block;
}

.cesantia .mat-form-field-infix {
    padding:0px;
    margin:0px
}
.cesantia .mat-form-field-wrapper {
    /*padding-bottom:5px;*/
    margin:0px
}
table.cesantia tr, table.cesantia td {
     padding:0px;
    margin:0px
}

table.table-puesto-guardia span.check {
    margin-left: 15px;
}
/*Poco espacio en asignación de horario de trabajador en agenda*/
.trabajador-agenda  .mat-option-text {
    font-size: 10px
}

.autocomplete-btn {
    margin: 2px;
    padding: 7px
}

.agm-map {
    height: 100vh;
}

agm-map {
    height: 100vh;
}
/*Para que google places autocomplete se pueda ver en matDialog*/
.pac-container { z-index: 100000; }


td.success, tr.success {
    background-color:#2ECC71;
}

td.success2 , tr.success2 {
    background-color: #58D68D;
}

td.danger {
    background-color: red;
}

td.danger2 {
    background-color:#F5B7B1  ;
}

td.warning {
    background-color: #F7DC6F;
}
