<div class="alert alert-primary alert-panel-title">
    <button mat-button type="button" class="close" aria-label="Close" (click)="close()">
        <i class="material-icons close-btn">close</i>
    </button>
    <b class="panel-title">{{title}}</b>
</div>

<h4>{{message}}</h4>

<button mat-raised-button class="btn btn-info" (click)="confirm()"><i class="material-icons">check_circle</i>Confirmar</button>

<button mat-raised-button class="btn btn-danger" (click)="close()"><i class="material-icons">cancel</i>Cancelar</button>
