<div class="row">
    <div [ngClass]="{'col-md-12': addButtonDisabled, 'col-md-10': !addButtonDisabled}">
        <mat-form-field class="example-full-width">
            <input type="text" [placeholder]="placeholder" aria-label="Number" matInput [(ngModel)]="entity" name="area"
                (ngModelChange)="onTxtChanged($event, 'areaTrabajoSubject')" [matAutocomplete]="matAutoCompleteArea"
                [required]="required">
        </mat-form-field>
        <mat-autocomplete #matAutoCompleteArea="matAutocomplete" [displayWith]="displayAreaTrabajoFn">
            <mat-option *ngFor="let at of list" [value]="at">
                {{ displayAreaTrabajoFn(at)}}
            </mat-option>
        </mat-autocomplete>
    </div>

    <div class="col-md-2" *ngIf="!addButtonDisabled">
        <button class="btn btn-round btn-primary ml-0" data-toggle="modal" [attr.data-target]="'#'+formModalId" title="Agregar Área de Trabajo">
            <i class="material-icons">add_circle</i>
        </button>
        <app-modal #areaTrabajoFormModal modalTitle='Registrar Área de Trabajo' [modalId]="formModalId">
            <app-area-trabajo-form> </app-area-trabajo-form>
        </app-modal>
    </div>
</div>